*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@font-face {
    font-family: 'inter';
    src:url('../font/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}
@font-face{
    font-family: 'RubikDirt';
    src:url('../font/RubikDirt-Regular.ttf') format('truetype');
}

:root{
    --body_bg-:#1f8372;
    --text_black-:#041210;
    --btn_text-:#23685c;
    --white-color-:#FBFFFE;
    --progress-bg-:#188573;
  --small-title-font-size:24px;
  --font-family-:inter;
  --regular-body-text:26px;
  --small-body-text:20px;
  --large-title-size:60px;
  --large-title-style: RubikDirt;
  --meduim-title-size:32px;

}
body{
    font-family: var(--font-family-);
    
}
/* about page style  */
.toogle .navbar-nav a{
    margin: 0 auto;
    text-decoration: none;
    color: var(--white-color--);
    width: 100px;
    height: 40px;
}
.toogle .navbar-nav a:hover{
    background-color: var(--body_bg-);
    color: var(--white-color--);
}
.text_container {
    position: relative;
    display: block; 
    margin: 0px auto; 
 }
.text_small {
    font-size: 56px;
    font-weight: bold;
    color: var(--text_black-);
    font-family: var(--large-title-style);
    top: 0;
    left: 0;
}

.text_large {
    font-size: 30px;
    font-weight: 600;
    color: var(--btn_text-);
    position: absolute;
    top: 16px;
    left: 80px;
}
.porfolio__container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.portfolio__flters{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio__flters ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}
.porfolio__container ul li{
    padding: 8px 18px;
    border: 1px solid var(--body_bg-);
    color: var(--btn_text-);
    border-radius: 17px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.porfolio__container ul li:hover{
    background-color: var(--body_bg-);
    color: var(--white-color-);
}
.portfolio__items{
    display: flex;
    flex-direction: column;
    margin: 0 auto 80px;
    gap: 20px;

}
.portfolio__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio__flters .btn {
    cursor: pointer;
  }
  
  .portfolio__flters .btn.active {
    background-color: var(--body_bg-);
    color: #fff;
  }
.portfolio__item img{
    width: 400px;
    height: 30vh;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.portfolio__item img:hover{
    transform: scale(1.02);
    filter: brightness(0.7);
}
.item__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    gap: 10px;
    /* opacity: 0.8; */
    color: var(--text_black-);
}
@media (min-width:720px){
    .navbar-content a, .navbar-nav a{
        text-decoration: none;
        background-color: var(--body_bg-);
        padding: 13px 28px;
        margin: 10px auto;
    }
    .navbar-nav a:hover{
        border: 1px solid var(--body_bg-);
    }
    .portfolio__item img{
        width: 500px;
        height: 50vh;
        cursor: pointer;
    }
    .portfolio__items{
        display: grid;
        grid-template-columns: repeat(2,50%);
        gap: 50px;
    
    }
    .portfolio__flters ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .porfolio__container ul li{
        padding: 16px 30px;
        border: 1px solid var(--body_bg-);
        color: var(--btn_text-);
        border-radius: 24px;
        font-size: 22px;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
}
