*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@font-face {
    font-family: 'inter';
    src:url('../font/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}
@font-face{
    font-family: 'RubikDirt';
    src:url('../font/RubikDirt-Regular.ttf') format('truetype');
}

:root{
  --body_bg-:#1f8372;
  --text_black-:#041210;
  --btn_text-:#23685c;
  --white-color-:#FBFFFE;
  --progress-bg-:#188573;
  --small-title-font-size:24px;
  --font-family-:inter;
  --regular-body-text:26px;
  --small-body-text:20px;
  --large-title-size:60px;
  --large-title-style: RubikDirt;
  --meduim-title-size:32px;

}
body{
    font-family: var(--font-family-);
    background-color: #FAFFFE;
    opacity: 0.8;
    
}
/* about page style  */
.toogle .navbar-nav a{
    margin: 0 auto;
    text-decoration: none;
    color: var(--white-color--);
    width: 100px;
    height: 40px;
}
.toogle .navbar-nav a:hover{
    background-color: var(--body_bg-);
    color: var(--white-color--);
}
.text_container {
    position: relative;
    display: block; 
    margin: 0px auto; 
 }
.text_small {
    font-size: 56px;
    font-weight: bold;
    color: var(--text_black-);
    font-family: var(--large-title-style);
    top: 0;
    left: 0;
}

.text_large {
    font-size: 30px;
    font-weight: 600;
    color: var(--btn_text-);
    position: absolute;
    top: 17px;
    left: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}
#contactForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
#contactForm .input, #message{
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    opacity: 0.6;
    border: 1px solid rgb(163, 162, 162);
}
#message{
    padding: 24px;
}
.nameEmail{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
#contactForm .btn{
    width: 60%;
    font-size: 20px;
    display: block;
    margin: 10px auto;
    padding: 12px;
    border: 1px solid var(--body_bg-);
    background-color: var(--white-color-);
    color: var(--btn_text-);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#contactForm .btn:hover{
    background-color: var(--body_bg-);
    color: var(--white-color-);
}
@media (min-width:720px){
    .navbar-content a, .navbar-nav a{
        text-decoration: none;
        background-color: var(--body_bg-);
        padding: 13px 28px;
        margin: 10px auto;
    }
    .navbar-nav a:hover{
        border: 1px solid var(--body_bg-);
    }
    .nameEmail{
        display: flex;
        
    }
    #contactForm .input, #message{
        padding: 20px 200px;
        border-radius: 20px;
        font-size: 20px;
        opacity: 0.6;
        border: 1px solid rgb(163, 162, 162);
    }
    #message{
        padding: 24px;
    }

    #contactForm .btn{
        width: 35%;
    }
}
